<div class="month-expenses" id="expenses">
  <!-- Date filter -->
  <p class="h4">Wydatki z daty
    <select [(ngModel)]="filterDate" (change)="sortDate()">
      <option value="{{actualMonth}}" selected>Aktualny miesiac</option>
      <ng-container *ngFor="let filterDate of dateArray">
        <option *ngIf="filterDate != actualMonth">
          {{filterDate}}
        </option>
      </ng-container>
    </select>
  </p>
  <ng-container *ngIf="expensesService.monthExpenses > 0; else noExpensesFound">
    <h3>{{expensesService.monthExpenses | number}} zł</h3>
  </ng-container>
  <!-- Product type filter -->
  <p class="h4">Kategoria wydatków:
    <select [(ngModel)]="filterType" (change)="sortType()">
      <option>Art. spożywcze</option>
      <option>Ubrania</option>
      <option>Elektronika</option>
      <option>Usługi comiesięczne</option>
      <option selected>Inne</option>
    </select>
  </p>
  <ng-container *ngIf="expensesService.sortedExpensesValue > 0; else noFilterData">
    <h3>{{expensesService.sortedExpensesValue | number}} zł</h3>
  </ng-container>
</div>

<ng-template #noExpensesFound>
  <h3>Brak wydatków w tym miesiącu.</h3>
</ng-template>

<ng-template #noFilterData>
  <h3>Brak wydatków dla kategorii w tym miesiącu.</h3>
</ng-template>

