<div class="input-form" id="add-product">
  <label>
    <input [(ngModel)]="productName" placeholder="Nazwa">
  </label><br>
  <label>
    <input type="number" [(ngModel)]="productCost" placeholder="Kwota"> <span class="h4"> zł</span>
  </label><br>
  <label>
    <select [(ngModel)]="productType">
      <option>Art. spożywcze</option>
      <option>Ubrania</option>
      <option>Elektronika</option>
      <option>Usługi comiesięczne</option>
      <option selected>Inne</option>
    </select>
  </label><br>
  <button class="btn-add" (click)="addProduct()">Dodaj<span></span></button>
</div>
