<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 id="title">{{title}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
<!-- Formularz dodawania wydatków -->
      <app-add-product></app-add-product>
    </div>
    <div class="col-md-7 text-right">
<!-- Wydatki za obecny miesiąc -->
      <app-expenses></app-expenses>
    </div>
  </div>

  <div class="row list-block">
    <div class="col-12">
<!-- Lista wszystkich wydatków -->
      <app-list-product ></app-list-product>
    </div>
  </div>

</div>
