hr{
  color: #afafaf;
}

.expense-item{
  background: rgba(194, 194, 194, 0.5);
  border: solid 1px rgba(255, 255, 255, 0.75);
  margin: 10px auto;
  border-radius: 15px;
  padding: 10px 15px;
}

.expense-item small{
  opacity: .75;
  font-size: 1.25rem;
}

.item-data>h2{
  margin: 0;
  color: #4b4b4b;
}

.btn-delete{
  border: none;
  background: none;
  transition: background-color .2;
}

.btn-delete::before{
  content: "";
  width: 2px;
  height: 30px;
  background: #000;
  display: inline-block;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);

  transition: background-color .5s;
}

.btn-delete::after{
  content: "";
  width: 2px;
  height: 30px;
  background: #000;
  display: inline-block;
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotate(-40deg);

  transition: background-color .5s;
}

.btn-delete:hover::before, .btn-delete:hover::after{
  transition: .2s;
  background: #fff;
}

.noData{
  text-align: center;
}
