<ng-container *ngIf="productsArray.length > 0; else noArrayElements">
  <ng-container *ngFor="let testIt of productsArray; let indexId = index">

    <div class="row">
      <div class="col-12 expense-item">
        <!-- Top part -->
        <div class="row">
          <div class="col-6">
            <small>{{testIt.date}}</small>
          </div>
          <div class="col-6 text-right">
            <button class="btn-delete" (click)="deleteProduct(indexId)"></button>
          </div>
          <div class="col-12"><hr></div>
        </div>
        <!-- Content -->
        <div class="row">
          <div class="col-12">
            <small>Name</small><br>
            <h2>{{testIt.name}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <small>Category</small>
            <h2>{{testIt.type}}</h2>
          </div>

          <div class="col-6 text-right">
            <small>Price</small>
            <h2>{{testIt.cost}} zł</h2>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>


<ng-template #noArrayElements>
  <div class="row">
    <div class="col-12 expense-item">
      <h2 class="noData">No data</h2>
    </div>
  </div>
</ng-template>
