<ng-container *ngIf="productsArray.length > 0; else noArrayElements">
  <ng-container *ngFor="let testIt of productsArray; let indexId = index">
  <div class="expense-item">
    <div class="item-top-part">
      <small>{{testIt.date}}</small>
      <button class="btn-delete" (click)="deleteProduct(indexId)"></button>
    </div>
    <hr>
    <div class="grid-container">
      <div class="item-data">
        <small>Nazwa</small><br>
        <h2>{{testIt.name}}</h2>
      </div>
      <div class="item-data grid-right">
      </div>
      <div class="item-data">
        <small>Kategoria</small>
        <h2>{{testIt.type}}</h2>
      </div>
      <div class="item-data grid-right">
        <small>Kwota</small>
        <h2>{{testIt.cost}} zł</h2>
      </div>
    </div>
  </div>
  </ng-container>
</ng-container>
<ng-template #noArrayElements>
  <div class="expense-item">
    <div class="item-data">
      <h2 class="noData">Bark danych</h2>
    </div>
  </div>
</ng-template>
