*, *::before, *::after{
  box-sizing: border-box;
}

body{
  background-image: url();
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* text-align: center; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
}
