*, *::before, *::after{
  box-sizing: border-box;
}

body{
  background: rgb(5,80,87);
  background: linear-gradient(32deg, rgb(3, 49, 53) 0%, rgb(26, 100, 128) 35%, rgba(0,212,255,1) 100%);
  background-attachment: fixed;
  /* text-align: center; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
}
